/* Supprime l'effet de bouton gris global au survol */
.unity-panel-button, 
.unity-panel-button:hover, 
.unity-panel-button:focus {
    background-color: transparent !important;
    background-image: none !important;
    box-shadow: none !important;
    border: none !important;
}

/* Conteneur interne */
.unity-container {
    spacing: 12px;
}

/* Style des boutons circulaires */
.unity-button {
    width: 16px;
    height: 16px;
    border-radius: 10px;
    margin: 6px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Style du titre */
.unity-title {
    font-weight: bold;
    font-size: 15px;
    color: #eeeeee;
}
